.navbar-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 10px;
    width: 100%;
    height: 100%;
}
.navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.nav{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
    color: #FFF;
    background: black;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
    text-decoration: none;
}
.nav:hover{
    color: black;
    background: #FFF;
    box-shadow: 1px 1px 1px 1px black;
    font-size: 26px;
}
.nav:active{
    background: linear-gradient(to right ,#f27121,#e94057);
}
.search-page{
    width: 100%;
    height: 50px;
    margin: 10px;
}
.search{
    width: 100%;
    height: 100%;
    background: gray;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.search-input{
    width: 90%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border:1px solid gray
}
.icons{
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.5s ease;
}
.icons:hover{
    font-size: 25px;
    color: black;
}
button{
    background: none;
    border-radius: 10px;
    border: none;
}
@media screen and (max-width : 600px) {
    .nav{
        width: 60px;
        height: 60px;
        font-size: 15px;
    }
}